---
title: Alpine Example
description: An Extract GSheet example to pull data from a public Google Sheet into a website and formatting that data with Alpine.js.
---

<script
  defer
  src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"
></script>
<style>
  [x-cloak] {
    display: none;
  }
  .movie-poster {
    color: white;
    min-height: 300px;
    position: relative;
  }
  .movie-title {
    font-size: 1.8em;
    text-align: center;
    transform: rotate(-10deg);
    padding: 1.5em 0.5em;
  }
  .movie-year {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.5em;
  }
  .status-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    font-size: 2em;
    background: white;
    border-radius: 100%;
    padding: 4px;
  }
</style>

<div
  x-data="{
  data: null,
  get watched() {
    if(this.data){
      return [
        {
          title: 'Watched',
          data: this.data.tables[2].data.filter(x => x.watched)
        },
        {
          title: 'Not Watched',
          data: this.data.tables[2].data.filter(x => !x.watched)
        },
      ]
    }
  },
}"
  x-init="data = await extractGSheet(
  'https://docs.google.com/spreadsheets/d/e/2PACX-1vTRI47Ifj6D_US-HpggfPwSGU1nBSz81IaQ3FL3eqqjr2m8ZIdr6ia9L_FqsJqYVeUI_A2SDjm25FjG/pubhtml'
)"
  x-cloak
>
  <template x-if="data">
    <template x-for="movieWatchedStatus in watched">
      <div class="row">
        <div class="col-sm-12">
          <h2
            x-text="movieWatchedStatus.title"
          ></h2>
        </div>
        <template x-for="movie in movieWatchedStatus.data">
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="movie-poster bg-secondary bg-gradient">
              <div
                class="movie-title h5 text-white"
                x-text="movie.movie"
              ></div>
              <div
                class="movie-year"
                x-text="movie.year_released"
              ></div>
              <template x-if="movie.watched">
                <i class="status-icon fas fa-check-circle text-primary"></i>
              </template>
              <template x-if="!movie.watched">
                <i class="status-icon fas fa-times-circle text-danger"></i>
              </template>
            </div>
          </div>
        </template>
      </div>
    </template>
  </template>
</div>
