---
title: Angular.js Example
description: An Extract GSheet example to pull data from a public Google Sheet into a website and formatting that data with Angular.js.
---

{% raw %}

<!-- Make sure that you have included the extract-gsheet.js file -->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
  integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<style>
  .watched {
    background: #e9f3ee;
    padding: 2px;
  }
  .not-watched {
    background: #fcebec;
    padding: 2px;
  }
</style>

<div ng-app="App">
  <div ng-controller="appCtrl">
    <h2>Scooby-Doo Movie Watch List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-bg-light bg-gradient">Movie</th>
          <th class="text-bg-light bg-gradient">Year Released</th>
          <th class="text-bg-light bg-gradient text-center">Watched</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="movie in movies"
        >
          <td>{{ movie.movie }}</td>
          <td>{{ movie.year_released }}</td>
          <td class="text-center">
            <i
              class="fas fa-check-circle text-primary watched rounded-pill fs-5"
              ng-if="movie.watched"
            ></i>
            <i
              class="fas fa-times-circle text-danger not-watched rounded-pill fs-5"
              ng-if="!movie.watched"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  angular
    .module("App", [])
    .service("appService", appService)
    .controller("appCtrl", appCtrl);

  function appService($q) {
    var movies = undefined;
    this.getMovies = function () {
      if (!movies) {
        var deferred = $q.defer();
        extractGSheet(
          "https://docs.google.com/spreadsheets/d/e/2PACX-1vTRI47Ifj6D_US-HpggfPwSGU1nBSz81IaQ3FL3eqqjr2m8ZIdr6ia9L_FqsJqYVeUI_A2SDjm25FjG/pubhtml"
        )
          .then((res) => {
            console.log(res);
            // get just the data in the movies tab
            movies = res.tables[2].data;
            deferred.resolve(movies);
          })
          .catch((err) => {
            movies = err;
            deferred.reject(error);
          });
        movies = deferred.promise;
      }
      return $q.when(movies);
    };
  }

  function appCtrl($scope, appService) {
    $scope.movies = [];
    $scope.getMovies = function () {
      appService.getMovies().then(function (movies) {
        $scope.movies = movies;
      });
    };
    $scope.getMovies();
  }
</script>

{% endraw %}
