---
title: Handlebars Example
description: An Extract GSheet example to pull data from a public Google Sheet into a website and formatting that data with Handlebars.js.
---

{% raw %}

<!-- Make sure that you have included the extract-gsheet.js file -->

<script
  id="entry-template"
  type="text/x-handlebars-template"
>
  <div class="row">
    <div class="col-sm-12">
      <h2>Scooby-Doo Villians</h2>
    </div>
    {{#each data}}
      <div class="col-sm-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="h4 my-0">{{this.villian}}</h3>
            <p><small class="text-primary">AKA: {{this.actual_person}}</small></p>
            <p>
              {{this.episode_title}}
            </p>
            <div><span class="badge badge-pill text-bg-dark">S{{this.season}}, E{{this.episode}}</span></div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</script>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script>
  extractGSheet(
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vTRI47Ifj6D_US-HpggfPwSGU1nBSz81IaQ3FL3eqqjr2m8ZIdr6ia9L_FqsJqYVeUI_A2SDjm25FjG/pubhtml"
  )
    .then((res) => {
      console.log(res);
      var source = document.getElementById("entry-template");
      var sourceHTML = source.innerHTML;
      var template = Handlebars.compile(sourceHTML);
      var html = template(res.tables[1]);
      source.insertAdjacentHTML("afterend", html);
    })
    .catch((err) => {
      console.error(err);
    });
</script>

{% endraw %}
