---
title: Vue
description: An Extract GSheet example to pull data from a public Google Sheet into a website and formatting that data with Vue.js.
---

{% raw %}
<div id="app" v-cloak>
  <div v-if="sheet != 'loading'">
    <h2>{{sheet.title}} <small>Sheet Title</small></h2>
    <div v-for="(table, tableIndex) in sheet.tables" :key="tableIndex">
      <h3>{{table.tab}} <small>Tab Name</small></h3>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th v-for="(keys, keyIndex) in table.keys" :key="keyIndex">
                {{keys.name}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, dataIndex) in table.data" :key="dataIndex">
              <td v-for="(d, dIndex) in data" :key="dIndex">{{d}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endraw %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el: "#app",
    data() {
      return {
        sheet: "loading",
      };
    },
    created() {
      extractGSheet(
        "https://docs.google.com/spreadsheets/d/e/2PACX-1vQEBe3cgMNU7SnZGl5NEfLt3bD3__Ly_irTVFWcd3T6_ZC-9qhc-t2AIlAcNqDOZowdje3E2jZ1Z8dQ/pubhtml"
      ).then((res) => {
        this.sheet = res;
      });
    },
  });
</script>
