---
layout: default
---

  <div class="bg-primary bg-gradient text-light mt-n5 py-4">
    <div class="container">
      <h1 class="text-white">{{title}}</h1>
      <p class="lead">{{description}}</p>
      {% if description != 'Coming Soon' %}
      
      <p>
        <a
          href="{{global.gitHubRepoURL}}/blob/master/{{page.inputPath}}"
          target="_blank"
          class="btn btn-secondary"
          ><span class="fab fa-github"></span> See Code on GitHub</a
        >
      </p>
      {% endif %}
    </div>
  </div>
<div class="container pt-5">
  {{content | safe}}
</div>
