---
layout: default
---

<div class="container">
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  {% if description != 'Coming Soon' %}
  <p>
    <a
      href="{{global.gitHubRepoURL}}/blob/master/docs/examples/{{page.fileSlug}}/index.html"
      target="_blank"
      class="btn btn-secondary"
      ><span class="fab fa-github"></span> See Code on GitHub</a
    >
  </p>
  {% endif %}
  <hr />
  {{content | safe}}
</div>
