---
layout: default
---

  <div class="bg-gradient-primary text-light mt-n3 pb-4">
    <div class="container">
      <h1 class="text-white">{{title}}</h1>
      <p class="lead">{{description}}</p>
      {% if description != 'Coming Soon' %}
      <p>
        <a
          href="{{global.gitHubRepoURL}}/blob/master/docs/examples/{{page.fileSlug}}/index.html"
          target="_blank"
          class="btn btn-secondary"
          ><span class="fab fa-github"></span> See Code on GitHub</a
        >
      </p>
      {% endif %}
    </div>
  </div>
<div class="container">
  {{content | safe}}
</div>
