<footer class="bg-dark text-light mt-4">
  <div class="container py-3">
    <div class="d-flex justify-content-center">
      <div class='px-3'>&copy; Nathan Blaylock {{global.copyrightYear}}</div>
      <div class='px-3'>Last Updated: {{global.today}}</div>
    </div>
  </div>
</footer>
