<footer class="bg-gradient-light mt-4">
  <div class="container py-3">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex align-items-center">
        <img
          src="https://nathanblaylock.com/img/logo-black-nathan-blaylock-media.svg"
          alt="Nathan Blaylock Logo"
          style="height: 20px"
        />
      </div>
      <div class="px-3">&copy; Nathan Blaylock {{global.copyrightYear}}</div>
      <div class="px-3">Last Updated: {{global.today}}</div>
    </div>
  </div>
</footer>
