$prefix: "bs-";

$enable-gradients: true;
$enable-negative-margins: true;

$primary: #176539;
$secondary: #1f1f1f;
$dark: #0c2e1b;
$light: #f4faf6;
$gray: #e3e8e5;
$white: white;
$red: #a31515;
$dev: $red;
$danger: $red;
$orange: #f0ce24;
$warning: $orange;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "gray": $gray,
  "white": $white,
  "dev": $dev,
  "warning": $warning,
  "danger": $danger,
);

$headings-font-family: "Merriweather", serif;
$headings-font-weight: 700;

$input-placeholder-color: var(--#{$prefix}gray-500);