@import "egs-variables";
@import "bootstrap-config";
@import "bootstrap-options";

[v-cloak] {
  display: none;
}
.small,
small {
  font-size: 0.6em;
  font-weight: 500;
  color: grey;
}
body{
  min-height: 100vh;
}
header {
  nav {
    position: relative;
    z-index: 1;
    &.shadow {
      box-shadow: 0px 3px 6px 0px rgba($dark, 0.25) !important;
    }
    a{
      transition: $transition-base;
      border-radius: .25rem;
      &:hover{
        background: rgba(0, 0, 0, 0.12);
      }
    }
  }
}
.egs {
  pre[class*="language-"] {
    border: none;
    border-radius: 0.25rem;
    background: #191c1b;
    code {
      border: none;
    }
  }
  .documentation {
    img {
      display: block;
      margin: 2rem auto;
    }
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-top: 1em;
  }
}
code {
  display: inline-block;
  background: $gray-100;
  padding: 0px 6px;
  border-radius: 3px;
  border: rgba($gray-300, 0.625) 1px solid;
  color: $primary;
  font-weight: bold;
}
