<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js Example</title>
    <link rel="stylesheet" href="./style/basic.css">
  </head>
  <body>
    <h1>Vue.js Example</h1>
    <div id="app" v-cloak>
      <h2>{{sheet.title}}</h2>
      <div v-for="(table, tableIndex) in sheet.tables" :key="tableIndex">
        <h3>{{table.tab}}</h3>
        <table>
          <thead>
            <tr>
              <th v-for="(keys, keyIndex) in table.keys" :key="keyIndex">
                {{keys.name}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, dataIndex) in table.data" :key="dataIndex">
              <td v-for="(d, dIndex) in data" :key="dIndex">
                {{d}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../dist/extract-gsheet.min.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            sheet: "Loading",
          };
        },
        created() {
          extractGSheet(
            "https://docs.google.com/spreadsheets/d/e/2PACX-1vSB4PU-EfzraMpAWZ61XFIoAhgV_cgAWYql9uHi266tEWFSHaFIqO2ILHbEFRTnO8iY6MPlBV2tBY_E/pubhtml"
          ).then((res) => {
            this.sheet = res;
          });
        },
      });
    </script>
  </body>
</html>
