<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{root}}/styles/custom.css" />
    <title>{{ title }} | 11ty Sandbox</title>
    <link rel="stylesheet" href="{{root}}/">
  </head>
  <body>
    <nav class='bg-primary py-3 mb-3'>
      <a class="text-white p-3 text-decoration-none" href="{{root}}/">Home</a>
      <a class="text-white p-3 text-decoration-none" href="{{root}}/examples/vue/">Vue Example</a>
      <a class="text-white p-3 text-decoration-none" href="{{root}}/uikit/">UI Kit</a>
    </nav>
    {{ content | safe }}
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
