{% if global.env == 'dev' %}
<div class="text-bg-dev hstack gap-2 small px-2">
  <span>Dev</span>
  <span class="badge rounded-pill text-bg-secondary me-auto">
    <span class="d-sm-none">xs</span>
    <span class="d-none d-sm-inline d-md-none">sm</span>
    <span class="d-none d-md-inline d-lg-none">md</span>
    <span class="d-none d-lg-inline d-xl-none">lg</span>
    <span class="d-none d-xl-inline d-xxl-none">xl</span>
    <span class="d-none d-xxl-inline">xxl</span>
  </span>
  <a
    href="/uikit/"
    class="link-white"
    >UI Kit</a
  >
  <a
    href="/test/"
    class="link-white"
    >Test Page</a
  >
</div>
{% endif %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
  <a
    class="navbar-brand"
    href="/"
    ><div class="d-flex justify-content-center align-items-center">
      <img
        src="/img/EGS-Logo.svg"
        alt="Extract GSheet Logo"
        style="max-height: 32px"
      />
      <div class="h6 text-white p-0 my-0 mx-3">Extract GSheet</div>
    </div></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a
          class="nav-link {{ 'active' if '/' == page.url }}"
          href="/"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {{ 'active' if '/documentation' in page.url }}"
          href="/documentation/"
          >Documentation</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle {{ 'active' if '/examples' in page.url }}"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Examples
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              class="dropdown-item"
              href="/examples/alpine/"
              >Alpine</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="/examples/angularjs/"
              >Angular.js</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="/examples/handlebars/"
              >Handlebars</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="/examples/jquery/"
              >jQuery</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="/examples/react/"
              >React</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="/examples/vue/"
              >Vue</a
            >
          </li>
        </ul>
      </li>
      <li class="align-self-md-end">
        <input
          type="checkbox"
          aria-label="Switch Theme"
          class="theme-switch theme-switch-light ms-md-3"
          data-bse-theme-switch
        />
      </li>
    </ul>
  </div>
</nav>
