<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ root }}/"
    ><div class="d-flex justify-content-center align-items-center pl-3">
      <img
        src="{{ root }}/img/EGS-Logo-small-stroke.png"
        alt="Extract GSheet Logo"
      />
      <div class="h6 text-white p-0 my-0 mx-3">Extract GSheet</div>
    </div></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {{ 'active' if '/' == page.url }}">
        <a class="nav-link" href="{{ root }}/">Home</a>
      </li>
      <li class="nav-item {{ 'active' if '/documentation' in page.url }}">
        <a class="nav-link" href="{{ root }}/documentation/">Documentation</a>
      </li>
      <li class="nav-item dropdown {{ 'active' if '/examples' in page.url }}">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Examples
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="{{ root }}/examples/alpine/">Alpine</a>
          <a class="dropdown-item" href="{{ root }}/examples/angularjs/"
            >Angular.js</a
          >
          <a class="dropdown-item" href="{{ root }}/examples/handlebars/"
            >Handlebars</a
          >
          <a class="dropdown-item" href="{{ root }}/examples/jquery/">jQuery</a>
          <a class="dropdown-item" href="{{ root }}/examples/react/">React</a>
          <a class="dropdown-item" href="{{ root }}/examples/vue/">Vue</a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="{{ global.gitHubRepoURL }}"
          target="_blank"
          rel="noopener"
          >GitHub <i class="fas fa-sm fa-external-link-alt"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.npmjs.com/package/extract-gsheet"
          target="_blank"
          rel="noopener"
          >NPM <i class="fas fa-sm fa-external-link-alt"></i
        ></a>
      </li>
      {% if global.env == 'dev' %}
      <li class="nav-item dropdown">
        <a
          class="btn btn-danger btn-sm mt-1 ml-2 dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLinkDev"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Dev
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdownMenuLinkDev"
        >
          <a class="dropdown-item" href="{{ root }}/uikit/">UI Kit</a>
          <a class="dropdown-item" href="{{ root }}/test/">Test Page</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
