---
title: Page Not Found
norobots: true
---

<style>
  body {
    background: #258b52;
  }
</style>

<div class="h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="display-1 text-light"><strong>404</strong></div>
  <h1 class="h2 text-white mb-3 mt-2">Page Not Found</h1>
  <a href="{{root}}" class="btn btn-secondary">Go To Home</a>
</div>
