---
title: Home
---

<div class="container pt-5">
  <h1>11ty Test</h1>
  <h2>{{global.name}}</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem animi
    cumque perferendis quisquam totam incidunt vel eaque. Modi laboriosam
    quisquam fugit deserunt dolorem ducimus, cumque nisi sed. Aperiam, quam
    incidunt.
  </p>
</div>