---
prism: true
---

<div class="bg-gradient-primary py-5 mt-n3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center text-center text-lg-left justify-content-center justify-content-lg-start">
        <img
          class="d-inline-block py-3"
          src="{{root}}/img/EGS-Logo-medium.png"
          alt="Extract GSheet Logo"
        />
      <div class="mx-4 py-3">
        <h1 class="text-white mt-0">Extract GSheet</h1>
        <p class="text-white lead">
          Quickly extract JSON data from a public Google Sheet without any API
          keys.
        </p>
        <p>
          <a href="{{root}}/documentation/" class="btn btn-light"
            >Documentation</a
          >
          <a href="{{global.gitHubRepoURL}}" target="_blank" class="btn btn-outline-light"><span class="fab fa-github"></span> GitHub</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container pt-3">
<h2 class="mb-4">Try It Out</h2>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="single-tab"
        data-toggle="tab"
        href="#single"
        role="tab"
        aria-controls="single"
        aria-selected="true"
        >Single Tab</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="multiple-tab"
        data-toggle="tab"
        href="#multiple"
        role="tab"
        aria-controls="multiple"
        aria-selected="false"
        >Multiple Tabs</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="custom-tab"
        data-toggle="tab"
        href="#custom"
        role="tab"
        aria-controls="custom"
        aria-selected="false"
        >Try Your Published Sheeet</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="single"
      role="tabpanel"
      aria-labelledby="single-tab"
    >
      <div class="mt-3 text-break">
        <strong class="d-block">Public Sheet URL:</strong>
        <a id="single-link" href="#" target="_blank"></a>
      </div>
      <pre><code class="language-json" id="single-json"></code></pre>
    </div>
    <div
      class="tab-pane fade"
      id="multiple"
      role="tabpanel"
      aria-labelledby="multiple-tab"
    >
      <div class="mt-3 text-break">
        <strong class="d-block">Public Sheet URL:</strong>
        <a id="multiple-link" href="#" target="_blank"></a>
      </div>
      <pre><code class="language-json" id="multiple-json"></code></pre>
    </div>
    <div
      class="tab-pane fade"
      id="custom"
      role="tabpanel"
      aria-labelledby="custom-tab"
    >
      <form class="mt-3" id="custom-form">
        <label for="custom-url" class="col-form-label">Custom URL</label>
        <div class="form-group d-flex">
          <div class="flex-grow-1">
            <input
              type="text"
              class="form-control"
              id="custom-url"
              placeholder="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vQEBe3cgMNU7SnZGl5NEfLt3bD3__Ly_irTVFWcd3T6_ZC-9qhc-t2AIlAcNqDOZowdje3E2jZ1Z8dQ/pubhtml"
            />
          </div>
          <div class="pl-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <pre><code class="language-json" id="custom-json"></code></pre>
      <div
        class="alert alert-danger"
        id="custom-error"
        style="display: none"
      ></div>
    </div>
  </div>
</div>

<script>
  var singleLink =
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vQEBe3cgMNU7SnZGl5NEfLt3bD3__Ly_irTVFWcd3T6_ZC-9qhc-t2AIlAcNqDOZowdje3E2jZ1Z8dQ/pubhtml?gid=0&single=true";
  var multipleLink =
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vQEBe3cgMNU7SnZGl5NEfLt3bD3__Ly_irTVFWcd3T6_ZC-9qhc-t2AIlAcNqDOZowdje3E2jZ1Z8dQ/pubhtml";
  extractGSheet(multipleLink).then((res) => {
    var mj = $("#multiple-json");
    var ml = $("#multiple-link");
    mj.html(JSON.stringify(res, null, 2));
    ml.attr("href", multipleLink).html(multipleLink);
    Prism.highlightAll();
  });
  extractGSheet(singleLink).then((res) => {
    var sj = $("#single-json");
    var sl = $("#single-link");
    sj.html(JSON.stringify(res, null, 2));
    sl.attr("href", singleLink).html(singleLink);
    Prism.highlightAll();
  });
  $("#custom-form").submit(function (e) {
    e.preventDefault();
    var customURL = $("#custom-url").val();
    if (customURL) {
      $("#custom-error").slideUp();
      extractGSheet(customURL)
        .then((res) => {
          var cj = $("#custom-json");
          cj.html(JSON.stringify(res, null, 2));
          Prism.highlightAll();
        })
        .catch((err) => {
          console.log("Error?", err);
          $("#custom-error")
            .html(
              "<strong>Error:</strong> There is no public Google Sheet at that URL."
            )
            .slideDown();
        });
    } else {
      $("#custom-error")
        .html("<strong>Error:</strong> Please enter a URL.")
        .slideDown();
    }
  });
</script>
