---
title: UI Kit
norobots: true
---

<div class="container vstack gap-5">
  <h1>UI Kit</h1>
  <div>
    <h2>Typography</h2>
    <div class="card card-body">
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <h6>Header 6</h6>
      <p>
        Lorem ipsum dolor, sit amet <a href="#">consectetur</a> adipisicing
        elit. Minus architecto alias perferendis ad, aut, delectus tenetur
        quidem, libero inventore rem eveniet vero impedit laudantium et saepe
        eos autem suscipit in?
      </p>
    </div>
  </div>

  <div>
    <h2>Colors</h2>
    <div class="card card-body">
      <div class="row g-0 text-center">
        <div class="col-sm-4 py-5 text-bg-dark">dark</div>
        <div class="col-sm-4 py-5 text-bg-primary">primary</div>
        <div class="col-sm-4 py-5 text-bg-gray">gray</div>
        <div class="col-sm-4 py-5 text-bg-light">light</div>
        <div class="col-sm-4 py-5 text-bg-secondary">secondary</div>
        <div class="col-sm-4 py-5 text-bg-white">white</div>
      </div>
    </div>
  </div>
  <div>
    <h2>Logo</h2>
    <div class="card card-body">
      <img
        src="{{ root }}/img/EGS-Logo.svg"
        alt="EGS Logo Large"
        style="max-width: 75%"
      />
    </div>
  </div>
</div>
